<div class="contWrap" ng-init="init()"><!--右边内容开始-->
    <div class="mbx"><!--面包屑导航开始-->
        <span>新建系统用户</span> &gt;
    </div><!--面包屑导航结束-->
    <div class="contbgf clearfix"><!--背景开始-->
        <div class="tit-gg"><!--标题开始-->
            <em class="icotit"></em>
            新建系统用户
        </div><!--标题结束-->
        <form name="homeFrom" class="mt30 clearfix" ><!--第一部分开始-->
            <ul class="item clearfix"><!--选项框开始-->
               <li class="new_ltem_box z-13 left dropdown">
                    <span class="lselect_lable">用户类别：</span>
                    <div class="item_li" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="item_span item_spanbg" >
                            <a href="javascript:;" value = {{cityList.value}} >{{cityList.title}}</a>
                            <label><em class="l-sjup"></em></label>
                        </span>
                    </div>
                    <!--全部车系下拉开始-->
                    <div   class="ban-tc dropdown-menu clearfix" ria-labelledby="dLabel">
                        <div class="zli_div1_dl no-bor box-Div-c heg_au">
                            <ul>
                                <li><a value ='2' ng-click="changeValue($event)" href="javascript:;">管理员</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--全部下拉结束-->
                </li>
                <li class="new_ltem_box  left">
                    <span class="lselect_lable">姓名：</span>
                    <div class="item_li">
                        <span  class="item_span datecont"  ng-class="{ error:!homeFrom.username.$error.required&&homeFrom.username.$error.defined && homeFrom.username.$dirty ||homeFrom.username.$error.minlength ||homeFrom.username.$error.maxlength }" >
                            <input namevalidator type="text" name="username" ng-model="username"  required class="zit_inp" ng-minlength="2" ng-maxlength="5" placeholder="2-5个汉字" />
                        </span>
                         
                    </div>
                </li>
                <li class="new_ltem_box  left">
                    <span class="lselect_lable">登录名：</span>
                    <div class="item_li">
                        <span class="item_span datecont" ng-class="{error:!homeFrom.userphone.$error.required&&homeFrom.userphone.$error.defined && homeFrom.userphone.$dirty ||homeFrom.userphone.$error.minlength ||homeFrom.userphone.$error.maxlength }" >
                            <input user-validator type="text" name="userphone" ng-model="userphone" class="zit_inp" required ng-minlength="11" ng-maxlength="11" placeholder="手机号码" maxlength="11" />
                        </span>
                    </div>
                </li>
                <li class="new_ltem_box  left">
                    <span class="lselect_lable">密码：</span>
                    <div class="item_li">
                        <span class="item_span datecont" ng-class="{error:!homeFrom.homepassword.$error.required&&homeFrom.homepassword.$error.defined && homeFrom.homepassword.$dirty ||homeFrom.homepassword.$error.minlength ||homeFrom.homepassword.$error.maxlength }">
                            <input passwordvalidator type="text" name="homepassword" required ng-model="homepassword"  class="zit_inp" placeholder="6-8位数字或字母" ng-minlength="6" ng-maxlength="8" />
                        </span>
                    </div>
                </li>
                <li class="new_ltem_box  left dropdown">
                    <span class="lselect_lable">状态：</span>
                    <div class="item_li" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="item_span item_spanbg" >
                            <a href="javascript:;" value = {{stueList.value}}>{{stueList.title}}</a>
                            <label><em class="l-sjup"></em></label>
                        </span>
                    </div>
                    <!--全部车系下拉开始-->
                    <div   class="ban-tc dropdown-menu clearfix" ria-labelledby="dLabel">
                        <div class="zli_div1_dl no-bor box-Div-c heg_au">
                            <ul>
                                <li><a value ='1' ng-click="changeStueValue($event)" href="javascript:;">激活</a></li>
                                <li><a value ='0' ng-click="changeStueValue($event)" href="javascript:;">禁用</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--全部下拉结束-->
                </li>
                <li class="new_ltem_box  left">
                    <div class="zztj left ml18"><!--按钮开始-->
                        <botton ng-disabled="homeFrom.$invalid" ng-click="homeFrom.$invalid||homesubmit()"  class="btn btn-info laz_botbtn">提 交</botton>
                    </div>
                </li>
            </ul><!--选项框结束-->
            <div class="clearfix zw_ie7_mr ">
                <div class="zztj wid520 right mr20"><!--按钮开始-->
                    <div class="zztj left ml18"><!--按钮开始-->
                        <botton  ng-disabled="myCheckd.length<=0" ng-click="myCheckd.length<=0||homeActive()" class="btn btn-info laz_botbtn">激 活</botton>
                    </div>
                    <div class="zztj left ml18"><!--按钮开始-->
                        <botton  ng-disabled="myCheckd.length<=0" ng-click="myCheckd.length<=0||homeDisable()"  class="btn btn-info laz_botbtn">禁 用</botton>
                    </div>
                    <div class="zztj left ml18"><!--按钮开始-->
                        <botton  ng-disabled="myCheckd.length<=0" ng-click="myCheckd.length<=0||homedel()"  class="btn btn-info laz_botbtn">删 除</botton>
                    </div>
                </div><!--按钮结束-->
            </div>
        </form><!--第一部分结束-->
        <div class="mt20">
            <table class="xctable" cellpadding="0" cellspacing="0" border="0" id="xctable">
                <tbody>
                    <tr class="xctablebg-hui xctable-ftb">
                        <td style="width: 100px">
                            <label class="wl_chekall" >
                                <input style="float: left;margin: 3px 2px 0" ng-model="select_all" ng-click = "selectAll()" type="checkbox"  checked="false" > 全选
                            </label>
                        </td>
                        <td style="width: 100px">序号</td>
                        <td>姓名</td>
                        <td>登录名</td>
                        <td>用户类别</td>
                        <td>状态</td>
                        <td>重置密码</td>
                    </tr>
                    <tr ng-repeat="item in homeList">
                        <td><input type="checkbox" ids = {{item.id}} ng-click="select_two(item.id,$event)" ng-checked="select_one"></td>
                        <td>{{$index+1}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.mobile}}</td>
                        <td ng-if="item.sysRoleId === 2">管理员</td>
                        <td ng-if="item.sysRoleId === 1">超级管理员</td>
                        <td ng-if="item.status === 1">激活</td>
                        <td ng-if="item.status === 0">禁用</td>
                        <td>
                            <button type="button" ng-click="repetpassword(item.id)" class="btn btn-info">重 置</button>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
        <div class="page mt20"><!--页码开始-->
            <ul uib-pagination class="pagination-sm"
                items-per-page="10"
                ng-model="currentPage" 
                total-items="totalItems" 
                max-size="maxSize"  
                boundary-links="true" 
                num-pages="numPages" 
                previous-text="上一页" 
                ng-change='pageChanged()' 
                next-text="下一页" 
                first-text="首页" 
                last-text="尾页"></ul>
        </div><!--页码结束-->
    </div>
</div><!--右边内容结束-->
<div class="footer"><!--尾部开始-->
</div><!--尾部结束-->